[submodule "vendor/normalize.css"]
	path = vendor/normalize.css
	url = https://github.com/necolas/normalize.css.git
[submodule "vendor/CodeMirror"]
	path = vendor/CodeMirror
	url = https://github.com/marijnh/CodeMirror.git
