.icn {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin: 0 1px 0 0;
	padding: 0;
	border: 0;
	text-indent: -999em;
	vertical-align: middle;
	background: rgba(255, 255, 255, .1);
	cursor: default;
	&:hover {
		background: rgba(255, 255, 255, .2);
	}
}

.sidebar .icn {
	margin: 1px 0 0;
	background: rgba(0, 0, 0, .1);
	&:hover {
		background: rgba(0, 0, 0, .2);
	}
}

