// button
.btn {
	display: inline-block
	padding: 0 12px
	background: #444
	background: -webkit-linear-gradient(top, #555 0%, #333 100%)
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(255, 255, 255, 0.1)
	border: 1px solid #000
	border-radius: 4px
	color: #fff
	font-size: 12px
	line-height: 22px
	text-decoration: none
	text-shadow: 0 1px 0 rgba(0, 0, 0, .75)
}
.btn:hover {
	background: #4c4c4c
	background: -webkit-linear-gradient(top, #5d5d5d 0%, #3b3b3b 100%)
}
.btn:active {
	background: #3d3d3d
	background: -webkit-linear-gradient(top, #444 0%, #242424 100%)
	box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 3px, 0 1px 0 rgba(255, 255, 255, 0.1)
}

.btn-primary {
	background: #2aa198
	background: -webkit-linear-gradient(top, #2eb0a5 0%, #258f86 100%)
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2)
}
.btn-primary:hover {
	background: #2ca89e
	background: -webkit-linear-gradient(top, #30b8ac 0%, #2eb0a5 100%)
}
.btn-primary:active {
	background: #289990
	background: -webkit-linear-gradient(top, #2aa197 0%, #217f78 100%)
}

