// editor container
.editor {
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: #fff
	border: 1px solid #aaa
	font: 12px 'bitstream vera sans mono', monospace
}
.editor textarea {
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	border: 0
	font: inherit
	resize: none
}
.editor textarea:focus {
	outline: 0
}

