// icons
.icn50 {
	display: inline-block
	width: 50px
	height: 50px
}
.icn-logo {
	background: rgba(255, 0, 255, .3)
	&:hover {
		background: #f0f
	}
}
.icn-assets {
	background: rgba(0, 0, 255, .3)
	&:hover {
		background: #00f
	}
}
.icn-meta {
	background: rgba(0, 255, 255, .3)
	&:hover {
		background: #0ff
	}
}
.icn-new {
	background: rgba(255, 255, 0, .3)
	&:hover {
		background: #ff0
	}
}
.icn-run {
	background: rgba(255, 0, 0, .3)
	&:hover {
		background: #f00
	}
}
.icn-save {
	background: rgba(0, 255, 0, .3)
	&:hover {
		background: #0f0
	}
}
.icn-info {
	background: rgba(255, 255, 255, .3)
	&:hover {
		background: #fff
	}
}

