// region
.rgn {
	height: 100%
}
.rgn-tl, .rgn-tr, .rgn-bl, .rgn-br {
	position: absolute
	top: 0
	left: 0
	margin: 0 0 0 -1px
	border-left: 1px solid #373a43
}
.rgn-tr, .rgn-br {
	left: auto
	right: 0
	margin: 0 -1px 0 0
}
.rgn-tc, .rgn-bc {
	display: inline-block
}

